body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  width: 90%;
  box-sizing: border-box;
  position: relative; /* Добавлено для позиционирования кнопки "Назад" */
}

.back-button {
  position: absolute; /* Добавлено для позиционирования кнопки "Назад" */
  top: 10px; /* Добавлено для позиционирования кнопки "Назад" */
  left: 10px; /* Добавлено для позиционирования кнопки "Назад" */
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}

.instructions {
  text-align: left;
  margin-bottom: 20px;
}

.instructions h2 {
  margin-top: 0;
  font-size: 18px;
}

.instructions ol,
.instructions ul {
  padding-left: 20px;
  font-size: 14px;
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  input,
  select {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }

  #result {
    font-size: 16px;
  }

  .instructions h2 {
    font-size: 16px;
  }

  .instructions ol,
  .instructions ul {
    font-size: 12px;
  }
}